<section class="section-customers">
    <div class="container">
        <h2 class="sub-headline">Customers</h2>
        <ul class="list">
            <li class="list-point-customers">
                <a class="link-container" href="#">
                    <svg class="customers-icon-box" width="104" height="56">
                        <use href="./img/icons.svg#icon-logo01"></use></svg>
                </a>
            </li>
            <li class="list-point-customers">
                <a class="link-container" href="#">
                    <svg class="customers-icon-box" width="104" height="56">
                        <use href="./img/icons.svg#icon-logo02"></use></svg>
                </a>
            </li>
            <li class="list-point-customers">
                <a class="link-container" href="#">
                    <svg class="customers-icon-box" width="104" height="56">
                        <use href="./img/icons.svg#icon-logo03"></use></svg>
                </a>
            </li>
            <li class="list-point-customers">
                <a class="link-container" href="#">
                    <svg class="customers-icon-box" width="104" height="56">
                        <use href="./img/icons.svg#icon-logo04"></use></svg>
                </a>
            </li>
            <li class="list-point-customers">
                <a class="link-container" href="#">
                    <svg class="customers-icon-box" width="104" height="56">
                        <use href="./img/icons.svg#icon-logo05"></use></svg>
                </a>
            </li>
            <li class="list-point-customers">
                <a class="link-container" href="#">
                    <svg class="customers-icon-box" width="104" height="56">
                        <use href="./img/icons.svg#icon-logo06"></use></svg>
                </a>
            </li>
        </ul>
    </div>
</section>