<section class="section-objectives">
    <div class="container">
        <h2 class="sub-headline visually-hidden">Our objectives</h2>
        <ul class="list">
            <li class="list-point-objectives">
                <div class="icons-objectives-container">
                    <svg class="icon-objectives" width="64" height="64">
                        <use href="./img/icons.svg#icon-antenna"></use>
                    </svg>
                </div>
                <h3 class="sub-headline-objectives">Strategy</h3>
                <p class="text-objectives">Our goal is to identify the business problem to walk away with the
                    perfect and creative solution.</p>
            </li>
            <li class="list-point-objectives">
                <div class="icons-objectives-container">
                    <svg class="icon-objectives" width="64" height="64">
                        <use href="./img/icons.svg#icon-clock"></use>
                    </svg>
                </div>
                <h3 class="sub-headline-objectives">Punctuality</h3>
                <p class="text-objectives">Bring the key message to the brand's audience for the best price
                    within the shortest possible time.</p>
            </li>
            <li class="list-point-objectives">
                <div class="icons-objectives-container">
                    <svg class="icon-objectives" width="64" height="64">
                        <use href="./img/icons.svg#icon-diagram"></use>
                    </svg>
                </div>
                <h3 class="sub-headline-objectives">Diligence</h3>
                <p class="text-objectives">Research and confirm brands that present the strongest digital growth
                    opportunities and minimize risk.</p>
            </li>
            <li class="list-point-objectives">
                <div class="icons-objectives-container">
                    <svg class="icon-objectives" width="64" height="64">
                        <use href="./img/icons.svg#icon-astronaut"></use>
                    </svg>
                </div>
                <h3 class="sub-headline-objectives">Technologies</h3>
                <p class="text-objectives">Design practice focused on digital experiences. We bring forth a deep
                    passion for problem-solving.</p>
            </li>
        </ul>
    </div>
</section>