<section class="doing-section">
    <div class="container">
        <h2 class="sub-headline">What are we doing</h2>
        <ul class="list">
            <li class="list-point-doing"><img src="./img/monitor-header-image-01.jpg"
                    alt="monitor with sheets" width="360" height="300"></li>
            <li class="list-point-doing"><img src="./img/screen-mobile-phone-header-image-02.jpg"
                    alt="four mobile phone screens" width="360" height="300"></li>
            <li class="list-point-doing"><img src="./img/laptop-mobile-phone-header-image-03.jpg"
                    alt="hand holding a mobile phone on the background of a laptop" width="360" height="300">
            </li>
        </ul>
    </div>
</section>